* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header{
    background-color: #333;
    height: 300px;
    content: '';
    position: relative;
    -moz-box-shadow: 0px 10px 15px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 0px 10px 15px rgba(0, 0, 0, .5);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, .5);
}



nav ul{
    text-align: right;
    margin-right: 40px;
}

nav li, footer li{
    list-style-type: none;
    padding-left: 20px;
    display: inline;
}

nav a, footer a{
    position: relative;
    text-align: left;
    font-size: 15px;
    color: white;
    font-family: sans-serif;
    display: inline;
    font-weight: 500;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#brand {
    position: relative;
    left : 150px;
    top : 22px;
}

nav a:hover, footer a:hover{
    color: #BBB;
    text-decoration: none;
}

h2 {
    text-align: center;
    color: white;
    position: relative;
    top: 20px;
}

#map {
    background-color: blue;
    width:450px;
    height:450px;
    position: absolute;
    right: 50px;
}

footer {
    text-align: center;
    position: relative;
    bottom: 0px;
    width:100%;
    /*padding-top:50px;*/
    height:60px;
    background-color: #555;
}

.propose p{
    padding: 40px;
    font-size: 20px;
}

.propose a{
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
    padding: 10px;
    color: white;
    background-color: #3333CC;
    text-decoration: none;
    border-radius: 5px;
}

.propose a:hover{
    border-color: blue;
    background-color: blue;
}

.propose, .community {
    height: 250px;
    text-align: center;
}

.button {
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
    background-color: white;
    color: black;
    padding: 14px 40px;
    border: 2px solid #008CBA;
    border-radius: 2px;
    /*font-size: 1px;*/
}

.button:hover {
    background-color: #008CBA;
    color : white;
}

.searchGroup {
    position: relative;
    top: 70px;
    text-align: center;
}

input[type=text]{
    padding: 12px 40px;
    margin: 8px 0;
    width: 17%;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    outline: none;
    border-radius: 2px;
}

input[type=text]:focus {
    border: 3px solid #008CBA;
}

.cities {
    background-image: url('images/map_marker.png');
    background-position: 5px 5px;
    background-repeat: no-repeat;
}

#datepicker {
    background-image: url('images/calendar.png');
    background-position: 5px 5px;
    background-repeat: no-repeat;
}
