* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header{
    background-color: #333;
    -moz-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 10px 15px rgba(0, 0, 0, .5);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, .5);
}

.homePageBanner {
    height: 300px;
}

.defaultNav{
    height: 70px;
}

nav {
    height: 15%;
}


nav ul{
    text-align: right;
    margin-right: 40px;
}

nav li{
    list-style-type: none;
    padding-left: 20px;
    display: inline;
}

nav a, footer a{
    position: relative;
    font-size: 15px;
    color: white;
    font-family: sans-serif;
    display: inline;
    font-weight: 500;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#brand {
    position: relative;
    left : 150px;
    top : 22px;
}

nav a:hover, footer a:hover{
    color: #BBB;
    text-decoration: none;
}

h2 {
    text-align: center;
    color: white;
    position: relative;
    top: 20px;
}

.twoParts {
    border-left: 4px solid #38546d;
    overflow: auto;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.part1 {
    float: left;
    width: 40%;
}

.part2 {
    float: right;
}

.panel {
    display:table-cell;
    vertical-align: middle;
    width: 300px;
    height: 300px;
    background-color: #FF4500;
}

.panel p {
    margin: auto;
    color: white;
    font-size: 35px;
}

footer {
    position: absolute; /* Pour éviter d'avoir de l'avoir au milieu de la page,
     le rendre assez gros */
    box-shadow: 15px 0px 20px rgba(255, 0, 0, .5);
    text-align: center;
    width:100%;
    height:80px;
    background-color: #555;
}

footer a {
    margin : 50px;
}

#bottomLinks {
    position: relative;
    top: 15px;
}

#copyright {
    position: relative;
    top: 30px;
    color: white;
}

.propose p{
    padding: 40px;
    font-size: 20px;
}

.propose a{
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
    padding: 10px;
    color: black;
    border-radius: 5px;
    border-color: #CCC;
    background-color: #EEE;
    border-style: solid;
    border-width: 1px;
    text-decoration: none;
    transition: all 200ms ease-out;
}

.propose a:hover{
    box-shadow: 0 0 5px rgba(100, 0, 0, 0.3);
}

.propose {
    height: 250px;
    text-align: center;
}

.community {
    height: 350px;
    text-align: center;
}

.button {
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
    background-color: white;
    color: black;
    padding: 14px 40px;
    border : none;
    /*border: 2px solid #008CBA; /*#F3FAB6*/ */
    /*border: 2px solid;
    border-color: rgba(255, 69, 0, 0.9);*/
    cursor: pointer;
}

.buttonHome {
    border: 2px solid #008CBA;
    border-radius: 2px;

}

.button:hover {
    background-color: #008CBA;
    /*border-color: rgba(255, 69, 0, 0.3);*/
    color : white;
}

.searchGroup {
    /*width: 70%;*/
    overflow: auto;
    background: rgba(234, 234, 237, 0.3);
    position: relative;
    top: 70px;
    text-align: center;
}

.searchGroup input[type=text]{
    padding: 12px 40px;
    margin: 8px 0;
    width: 17%;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    outline: none;
    border-radius: 2px;
}

.searchGroup input[type=text]:focus {
    border: 3px solid #008CBA;
}

.cities {
    background-image: url('../images/map_marker.png');
    background-position: 5px 5px;
    background-repeat: no-repeat;
}

#datepicker {
    background-image: url('../images/calendar.png');
    background-position: 5px 5px;
    background-repeat: no-repeat;
}

/* propose.php */

#map {
    width:500px;
    height:500px;
}

.part1 .searchGroup {
    position: relative;
    top: 0px;
    text-align: center;
}

.part1 .searchGroup input[type=text]{
    padding: 12px 40px;
    margin: 8px 0;
    width: 60%;
    /*box-sizing: */
}

/*login.php*/

label {
    padding: 12px 12px 12px 0;
}

.main {
    padding-top:0px;
    width: 100%;
}

.loginForm {
    border-radius: 5px;
    border-color: #CCC;
    background-color: #EEE;
    border-style: solid;
    border-width: 1px;
    width: 60%;
    margin-top: 60px;
    margin-left:auto;
    margin-right:auto;
    padding: 30px;
}

.loginForm input[type=text], input[type=email], input[type=password] , input[type=tel]{
    padding: 12px 40px;
    /*margin: 8px 10px;*/
    width: 100%;
    box-sizing: border-box;
    border: none;
    background-color: rgba(255, 69, 0, 0.8);
    color: white;
    border-radius: 4px;
}

.loginForm button {
    text-align: center;
}


/*search.php*/

.sort {
    text-align: center;
}

.searchResults {
    padding: 30px;
}

.trip {
    width: 40%;
    border: 2px solid #008CBA;
    /*border-left: 2px solid #008CBA;*/
    /*border-bottom: 2px solid #008CBA;*/
    border-style: inset;
    border-radius: 4px;
}

.tripTopLeft{
    float : left;
    width: 60%;
    display: inline-block;
    font-weight: bold;
}

.tripTopRight{
    /*float: right;*/
    display: inline-block;
}

.tripPrice {
    text-align: center;
    font-size: 25px;
    color: #008CBA;
}

p.infosTrip {
    position : relative;
    top: 10px;
    width: 10em;
    line-height: 1.8;
}

p.cities {
    text-align: center;
}

.vl {
    position: relative;
    top: 10px;
    display: inline-block;
    border-left: 4px solid #38546d;
    height: 80px;
    margin-left: 7px;
    margin-right: 7px;
}

.note {
    text-align: center;
}
